
/CDD.DB/data
/CDD.DB/.vscode
/CDD.DB/.vs
/CDD.Api/.vs
/CDD.Api/obj
/CDD.Api/bin
/CDD.Api.Test/obj
/CDD.Api.Test/bin
/NAS
/publish
/test
/doc
/CDD.Api.Test/.vs
/Database-CDD/.vs
/Database-CDD/CDD/bin
/Database-CDD/CDD/obj
/CDD.Web/CDD.Web/.vs
/CDD.Web/CDD.Web/bin
/CDD.Web/CDD.Web/obj
/CDD.DB/PostgreSQL
/CDD.DB/SqlServer/data
/FrontEnd/FrontEnd/.vscode
FrontEnd/node_modules/
